

p, h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 12px;
}