// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Colors
@import 'colors';

// Layouts 

@import 'frontend/header';

// Pages
@import 'frontend/pages/home';
@import 'frontend/pages/about';