// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Colors
@import 'colors';

// Layouts 

@import 'frontend/header';
@import 'frontend/footer';

// Base
@import 'frontend/base';

// Buttons
@import 'frontend/buttons';

// Pages
@import 'frontend/pages/home';
@import 'frontend/pages/about';
@import 'frontend/pages/services';