.image-4 {
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('imgs/janitor-supplies.gif');
}
.image-5 {
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('imgs/cleaning-services-supplies.jpg');
}