.image-1 {
    height:300px;
    background-image: url('imgs/floor-scrubbing-machine.jpg');
}
.image-2 {
    height:300px;

    background-image: url('imgs/floor-sweeping.gif');
}
.image-3 {
    height:300px;

    background-image: url('imgs/janitor-supplies.gif');
}