.image-1 {
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('imgs/floor-scrubbing-machine.jpg');
    
}
.image-2 {
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('imgs/floor-sweeping.gif');
}
.image-3 {
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('imgs/janitor-supplies.gif');
}